@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@500&display=swap');

.container {
	display: flex;
	margin: auto;
	width: 50rem;
	gap: 5rem;
	align-items: center;
	height: 40rem;
}

.head {
	width: 50%;
	height: 100%;
	text-align: left;
}

.head h1 {
	font-family: 'Anek Latin', sans-serif;
	font-size: 50px;
	font-weight: 500;
	line-height: 55px;
	letter-spacing: 0em;
	text-align: left;
}

.head p {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	font-size: 18px;
	font-weight: 100;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
}

button {
	background-color: black;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
