@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@500&display=swap');


.box{
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    text-align: center;

}

.back{
    width: 20rem;
    height: 30rem;
    margin: auto;
    position: relative;

}

.squares{
    height: 10px;
    width: 5px;
    position: absolute;

}

.square1{
    width: 2px;
    height: 10px;
    background-color:red;
}
.square2{
    width: 2px;
    height: 3px;
    background-color:red;
}

.box p{
    position: absolute;
    color: white;
    width: 10rem;
    top: 113rem;
    padding-left: 5rem;
font-size: 27px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
font-family: 'Anek Latin', sans-serif;

}

.colora{
    color: #E32681;
}

.colorb{
    color: #57CC99;
}
.colorc{
    color: #E09F3E;
}

.rectanglea, .rectangleb, .rectanglec{
width:13rem;
position:absolute;
height:8px;
    top: 120rem;
margin-right: ;
}

.rectanglea{
    background-color: #E32681;

}

.rectangleb{
    background-color: #57CC99;

}

.rectanglec{
    background-color:#E09F3E;

}